{%extends "base_generic.html" %}

{% block title%}<title>ComPutin - Comprar</title>{% endblock %}


{%block content %}

<!-- FORMULARIO DE COMPRA -->
<div class="container-fluid">
    <div class="row">                       
        <form class="col-md" style="background-color: whitesmoke;margin-left: 20%;margin-right: 20%;" name="CrearCompra" method="POST">
            {%csrf_token%}
            <div class="alert alert-success " role="alert">
                <h1>Formulario de compra</h1>
            </div>                      
            <div class="row-sm-6"> 
                <label style="color: black; position: static; text-align: center;">Nombres y apellido</label>                              
                <div class="form-group row-sm-6">                    
                    <div>
                        {{form.nombre}}
                    </div>
                    
                </div>

                <label style="color: black; position: static; text-align: center;">Correo</label>
                <div class="form-group row-sm-6">                    
                    <div>
                        {{form.correo}}
                    </div>                    
                </div>
                <label style="color: black; position: static; text-align: center;">Número de teléfono</label>
                <div class="form-group row-sm-6">                    
                    <div>
                        {{form.numTelefonico}}
                    </div> 
                    
                </div>
                <label style="color: black; position: static; text-align: center;">Comuna</label>
                <div class="form-group col-md">                    
                    <div>
                        {{form.comuna}}
                    </div>                    
                </div>
                <label style="color: black; position: static; text-align: center;">Dirección</label>
                <div class="form-group col-md">                    
                    <div>
                        {{form.direccion}}
                    </div> 
                    
                </div>
                <label style="color: black; position: static; text-align: center;">ID Producto</label>
                <div class="form-group col-md">                    
                    {% if idprod != 0 %}
                    <div>
                        {{form.idProducto}}
                    </div>                     
                    {% else %}
                    <div>
                        {{form.idProducto}}
                    </div>
                    {% endif %}
                </div>
                <label style="color: black; position: static; text-align: center;">Comentario</label>
                <div class="form- col-md">                    
                    <div>
                        {{form.comentario}}
                    </div>                    
                </div>                        
                <div class="form-group col-md">
                    <hr>
                    <input class="btn btn-primary" type="submit"  value="Enviar">
                    <hr>
                </div>
                <div class="alert alert-info" role="alert">
                    Para ventas telefónicas o información sobre stoch de productos llamar al: +56991349101
                </div>
                <div style="visibility: hidden;">
                    {{form.idCompra}}
                </div> 
            </div>

        </form>
        
    </div>
    
</div>

<!--script para validar formulario

<script>
    function ValidarCompra(){                
        nom = document.getElementById("nombre").value;
        comprobaremail =  /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}.){1,125}[A-Z]{2,63}$/i;
        email = document.getElementById("correo").value;
        tel = document.getElementById("numero_tel").value;
        comu = document.getElementById("comuna").value;
        direccion = document.getElementById("direc").value;
        idprod = document.getElementById("prod").value;
        coment = document.getElementById("comentario").value;              
        if(nom==null || nom=="" || nom.length<8){
            alert('¡Debe ingresar un nombre válido!');
            document.formucomprar.Nombre.focus();
            document.getElementById('nombre').value="";
        }
        else if(!comprobaremail.test(email) || email==null  || email=="" || email.length<8){
            alert('¡Debe ingresar un correo válido!');
            document.formucomprar.Correo.focus();
            document.getElementById('correo').value="";
        }
        else if(tel==null || tel=="" || (tel.length<9 && tel.length>12)){
            alert('¡Debe ingresar un número telefónico!');
            document.formucomprar.Numero_tel.focus();
            document.getElementById('numero_tel').value="";
        }
        else if(comu==null || comu=="" || comu.length<5){
            alert('¡Debe ingresar una comuna!');
            document.formucomprar.Comuna.focus();
            document.getElementById('comuna').value="";
        }
        else if(direccion==null || direccion=="" || direccion.length<5){
            alert('¡Debe ingresar una dirección!');
            document.formucomprar.Direc.focus();
            document.getElementById('direc').value="";
        }
        else if(idprod==null || idprod=="" || idprod<10000){
            alert('¡Debe ingresar al menos una id de producto!');
            document.formucomprar.Prod.focus();
            document.getElementById('prod').value="";
        }
        else{
            alert('¡Solicitud enviada! En minutos será contactado vía telefónica y/o correo electrónico');
            document.getElementById('nombre').value="";
            document.getElementById('correo').value="";
            document.getElementById('numero_tel').value="";
            document.getElementById('comuna').value="";
            document.getElementById('direc').value="";
            document.getElementById('prod').value="";
            document.getElementById('comentario').value="";
        }             
        

    }


</script>
-->
{%endblock%}