{% extends "base_generic.html" %}

{% block title%}<title>ComPutin - {{ producto.NombreProd }}</title>{% endblock %}

{% block content %}
<div class="row producto" style="width: 90%;">
    <div class="col-sm" style="background-color: ghostwhite; margin-left: 2%; margin-right: 2%; border-radius: 40px;">
        <div class="container-fluid p-1 my-1 text-black" style="background-color: transparent; border-radius: 20px; text-align:left;">
            <h5>Incio>Productos>{{producto.CategoriaProd}}>{{ producto.NombreProd }} </h5>
        </div>
        
        <div >
            <div class="container">
                <div class="row">
                    <div class="align-self-center col-sm-4">                        
                        <img class="img imagen_prod " src="{{ producto.imageProd.url}}"  alt="productos" >
                    </div>      
                    <div class="col-sm-8">
                        <div class="jumbotron cuadro_venta " style="float: right;text-align:center;">
                            <h1>{{ producto.NombreProd }}</h1>
                            <p>ID: {{ producto.idProd }}</p>
                            <hr>
                            <br>
                            <h2>$ {{ producto.PrecioProd }}</h2>
                            <br>                
                            {% if producto.StockProd == 0 %}
                            <p style="color:red">Stock disponible: {{producto.StockProd}}</p>
                            <p style="color:red">Despacho a domicilio: No</p>   
                            <br>    
                            <div class="alert alert-danger" role="alert">
                                ¡Aviso, producto sin stock!
                            </div>                
                            
                                                   
                            {% endif %}                
            
                            {% if producto.StockProd < 5 and producto.StockProd > 0 %}
                            <p style="color:steelblue">Stock disponible: {{producto.StockProd}}</p>
                            <p style="color:steelblue">Despacho a domicilio: Si</p>
                            <div class="alert alert-warning" role="alert">
                            Stock bajo, Comuniquese con la tienda antes de hacer el pago de este producto
                            </div>                                
                            <a href="" class="btn btn-success">COMPRAR</a>
                            {% endif %}
            
                            {% if producto.StockProd >= 5 %}
                            <p style="color:green">Stock disponible: {{producto.StockProd}}</p>
                            <p style="color:green">Despacho a domicilio: Si</p>                
                            <a href="{% url 'comprar' producto.idProd %}" class="btn btn-success">COMPRAR</a>
                            {% endif %}                    
                        </div>  
                    </div>                      
                </div>
                <div class="row">                                       
                    <div style="text-align: justify; margin-bottom: 5%; margin-top: 3%; ">        
                        {{ producto.DescripciónProd }}
                    </div>
                </div>
                <hr>
                <div class="col-sm-9" style="margin-left: 10%;">
                    {% load static %}
                    <img class="border-secundary w-100" src="{% static 'img/banner-envios.jpg' %}">
                </div>
                <hr>
            </div>   
        </div>         
    </div>
</div>  

{% endblock %}